@import url(reset.css);
body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Poiret One", cursive;
  width: auto; }
  body header {
    padding-top: 30px;
    font-size: 30px;
    color: black;
    padding-bottom: 30px; }
  body #sect1 {
    border: 2px solid #000000;
    margin: auto;
    width: 60%;
    padding-bottom: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 30px black; }
    body #sect1 img.image {
      height: 25vw;
      margin-left: auto;
      margin-right: auto;
      width: 25vw;
      display: inline-block;
      padding-top: 50px;
      padding-left: 20px;
      padding-right: 20px; }
    body #sect1 #thumbform {
      padding-top: 20px; }
      body #sect1 #thumbform #thumb1 {
        margin-right: 17%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        background-color: #1edd00;
        border-width: 0;
        font-size: 3vw; }
      body #sect1 #thumbform #thumb1:hover {
        background-color: #D3D3D3;
        cursor: pointer; }
      body #sect1 #thumbform #thumb1:focus {
        outline-style: none; }
      body #sect1 #thumbform #thumb2 {
        margin-left: 17%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        background-color: #1edd00;
        border-width: 0;
        font-size: 3vw; }
      body #sect1 #thumbform #thumb2:hover {
        background-color: #D3D3D3;
        cursor: pointer; }
      body #sect1 #thumbform #thumb2:focus {
        outline-style: none; }
    body #sect1 #refresh {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      border-radius: 100%;
      border-width: 0;
      font-size: 1.5vw;
      width: 3vw;
      height: 3vw;
      background-color: #D3D3D3;
      text-align: center; }
@-webkit-keyframes spinnerRotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes spinnerRotate {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@-ms-keyframes spinnerRotate {
  from {
    -ms-transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg); } }
    body #sect1 #refresh:focus {
      -webkit-animation-name: spinnerRotate;
      -webkit-animation-duration: .2s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: linear;
      -moz-animation-name: spinnerRotate;
      -moz-animation-duration: .2s;
      -moz-animation-iteration-count: 1;
      -moz-animation-timing-function: linear;
      -ms-animation-name: spinnerRotate;
      -ms-animation-duration: .2s;
      -ms-animation-iteration-count: 1;
      -ms-animation-timing-function: linear; }
    body #sect1 #refresh:hover {
      background-color: #000000;
      color: #FFFFFF;
      cursor: pointer; }
    body #sect1 #refresh:focus {
      outline-style: none; }
    body #sect1 hr {
      margin-top: 10px;
      margin-bottom: 10px; }
    body #sect1 p {
      margin: 0 25%; }

/* --------- MEDIA QUERIES ---------- */
@media screen and (max-width: 1000px) {
  body #sect1 img.image {
    width: 24vw;
    height: 24vw; } }
@media screen and (max-width: 714px) {
  body #sect1 img.image {
    width: 23vw;
    height: 23vw; } }
@media screen and (max-width: 612px) {
  body #sect1 img.image {
    width: 22vw;
    height: 22vw; } }
@media screen and (max-width: 535px) {
  body {
    height: 500px; }
    body #sect1 img.image {
      width: 21vw;
      height: 21vw; } }
@media screen and (max-width: 476px) {
  body #sect1 img.image {
    width: 20vw;
    height: 20vw; } }
@media screen and (max-width: 428px) {
  body #sect1 img.image {
    width: 19vw;
    height: 19vw; } }
@media screen and (max-width: 390px) {
  body #sect1 img.image {
    width: 18vw;
    height: 18vw; } }

/*# sourceMappingURL=Cats.css.map */
