@import "reset.css";
$green: #1edd00;
$black: #000000;
$grey: #D3D3D3;
body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', cursive;
    width: auto;
    header {
        padding-top: 30px;
        font-size: 30px;
        color: black;
        padding-bottom: 30px;
    }
    #sect1 {
        border: 2px solid $black;
        margin: auto;
        width: 60%;
        padding-bottom: 50px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 0 20px black;
        img.image {
            height: 25vw;
            margin-left: auto;
            margin-right: auto;
            width: 25vw;
            display: inline-block;
            padding-top: 50px;
            padding-left: 20px;
            padding-right: 20px;
        }
        #thumbform {
            padding-top: 20px;
            #thumb1 {
                margin-right: 17%;
                border-radius: 50%;
                background-color: $green;
                border-width: 0;
                font-size: 3vw;
            }
            #thumb1:hover {
                background-color: $grey;
            }
            #thumb2 {
                margin-left: 17%;
                border-radius: 50%;
                background-color: $green;
                border-width: 0;
                font-size: 3vw;
            }
            #thumb2:hover {
                background-color: $grey;
            }
        }
        #refresh {
            border-radius: 50%;
            border-width: 0;
            font-size: 20px;
            background-color: $grey;
        }
        hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        p {
            margin: 0 25%;
        }
    }
}
/* --------- MEDIA QUERIES ---------- */
@media screen and (max-width: 1000px) {
    body {
        #sect1 {
            img.image {
                width: 24vw;
                height: 24vw;
            }
        }
    }
}
@media screen and (max-width: 714px) {
    body {
        #sect1 {
            img.image {
                width: 23vw;
                height: 23vw;
            }
        }
    }
}
@media screen and (max-width: 612px) {
    body {
        #sect1 {
            img.image {
                width: 22vw;
                height: 22vw;
            }
        }
    }
}
@media screen and (max-width: 535px) {
    body {
        height: 500px;
        #sect1 {
            img.image {
                width: 21vw;
                height: 21vw;
            }
        }
    }
}
@media screen and (max-width: 476px) {
    body {
        #sect1 {
            img.image {
                width: 20vw;
                height: 20vw;
            }
        }
    }
}
@media screen and (max-width: 428px) {
    body {
        #sect1 {
            img.image {
                width: 19vw;
                height: 19vw;
            }
        }
    }
}
@media screen and (max-width: 390px) {
    body {
        #sect1 {
            img.image {
                width: 18vw;
                height: 18vw;
            }
        }
    }
}
