@import "reset.css";
$green: #1edd00;
$black: #000000;
$grey: #D3D3D3;
$white: #FFFFFF;
$font: 'Poiret One', cursive;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: $font;
    width: auto;
    header {
        padding-top: 30px;
        font-size: 30px;
        color: black;
        padding-bottom: 30px;
    }
    #sect1 {
        border: 2px solid $black;
        margin: auto;
        width: 60%;
        padding-bottom: 50px;
        @include border-radius(10px);
        background-color: white;
        box-shadow: 0 0 30px black;
        @import "_imagestyling";
        #thumbform {
            padding-top: 20px;
            #thumb1 {
                margin-right: 17%;
                @include border-radius(50%);
                background-color: $green;
                border-width: 0;
                font-size: 3vw;
            }
            #thumb1:hover {
                background-color: $grey;
                cursor: pointer;
            }
            #thumb1:focus {
              outline-style: none;
            }
            #thumb2 {
                margin-left: 17%;
                @include border-radius(50%);
                background-color: $green;
                border-width: 0;
                font-size: 3vw;
            }
            #thumb2:hover {
                background-color: $grey;
                cursor: pointer;
            }
            #thumb2:focus {
              outline-style: none;
            }
        }
        #refresh {
            @include border-radius(50%);
            border-width: 0;
            font-size: 1.5vw;
            background-color: $grey;
        }
        #refresh:hover {
            background-color: $black;
            color: $white;
            cursor: pointer;
        }
        #refresh:focus {
          outline-style: none;
        }
        hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        p {
            margin: 0 25%;
        }
    }
}
/* --------- MEDIA QUERIES ---------- */
@media screen and (max-width: 1000px) {
    body {
        #sect1 {
            img.image {
                width: 24vw;
                height: 24vw;
            }
        }
    }
}
@media screen and (max-width: 714px) {
    body {
        #sect1 {
            img.image {
                width: 23vw;
                height: 23vw;
            }
        }
    }
}
@media screen and (max-width: 612px) {
    body {
        #sect1 {
            img.image {
                width: 22vw;
                height: 22vw;
            }
        }
    }
}
@media screen and (max-width: 535px) {
    body {
        height: 500px;
        #sect1 {
            img.image {
                width: 21vw;
                height: 21vw;
            }
        }
    }
}
@media screen and (max-width: 476px) {
    body {
        #sect1 {
            img.image {
                width: 20vw;
                height: 20vw;
            }
        }
    }
}
@media screen and (max-width: 428px) {
    body {
        #sect1 {
            img.image {
                width: 19vw;
                height: 19vw;
            }
        }
    }
}
@media screen and (max-width: 390px) {
    body {
        #sect1 {
            img.image {
                width: 18vw;
                height: 18vw;
            }
        }
    }
}
